.DS_Store
.venv/
__pycache__/
*.pyc
MUJOCO_LOG.TXT
outputs/*
!outputs/debug/
!outputs/logs/
!outputs/pcd/
outputs/debug/*
!outputs/debug/.gitkeep
outputs/logs/*
!outputs/logs/.gitkeep
outputs/pcd/*
!outputs/pcd/.gitkeep
checkpoints/*
!checkpoints/.gitkeep
assets/meshes/*
!assets/meshes/.gitkeep
